<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>
<div id="products">
  <ul>
    <% @products.each do |product| %>
      <li> <%= link_to product.title, new_lookup_path(:search_term => product.title, :product_id => product.id) %></li>
    <% end %>
  </ul>
</div>
<div id="javascript">
  <div id="something">
    <p>Hello</p>
  </div>
</div>
<%= ShopifyAPI::ScriptTag.count %>
<%= @s %>


<%= javascript_include_tag "index_page" %>